:root {
    --grid-cols: 3;
    --grid-rows: 3;
}

#container {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}


.grid-item {
    padding: 10%;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    color: white;
    margin: 10%;
    width: 60%;
}

.grid-item-filled-X {
    background-color: rgb(0, 17, 255);
    color: black;
}

.grid-item-filled-O {
    background-color: rgb(255, 0, 34);
    color: black;
}

h1{
    text-align: center;
    position: center;
}

button{
    
  
  text-align: center;
}